/target
/lib
/classes
/checkouts
pom.xml
dev-config.edn
test-config.edn
*.jar
*.class
/.lein-*
profiles.clj
/.env
/.cpcache
.nrepl-port
/.shadow-cljs
/node_modules
/log
/resources/static/js/cljs-runtime
package-lock.json
manifest.edn
