{:deps     {:aliases [:dev]}

 :dev-http {8080 "classpath:static"}
 ;; :nrepl {:port 7002}

 :builds   {:test {:target     :browser
                  :output-dir "resources/static/js"
                  :asset-path "/js"
                  :modules    {:test {:entries [teoten.ttblog.cljs.test]}}}
            :app {:target     :browser
                  :output-dir "resources/static/js"
                  :asset-path "/js"
                  :modules    {:main {:init-fn teoten.ttblog.cljs.filters/init}}}}}

