:root {
    --image-border-color: black;
    --image-shadow-color: rgba(0, 0, 0, 0.5);
    --background-color: white;
    --shadow-bg: #f0f0f0;
    --shadow-bg-subtle: rgba(240, 240, 240, 0.4);
    --outer-bg: #e0e0e0;

    --text-color: black;
    --text-color-sub: rgba(0, 0, 0, 0.5);
    --text-color-back: rgba(255, 206, 245, 0.99);
    --hover-color: #8b0000;
    --navbar-bg: rgba(0, 0, 0, 0.0);
    --sidebar-bg: #ebebeb;
    --sidebar-bg-stacked: rgba(235, 235, 235, 0.2);

    --text-color: #333;
    --link-color: #0066cc;         /* Link color for light theme */
    --link-hover-color: #004499;   /* Link hover color for light theme */
    --list-bg-color: #f5f5f5;      /* Light background for list items */
    --code-blue: #40a0ff;

    --font-main: "Montserrat", Times, serif;
    --font-headers: "Merriweather", sans-serif;
    --font-alt: monospace;
}

/* Dark theme variables */
body.dark-theme {
    --image-border-color: silver;
    --image-shadow-color: rgba(255, 255, 255, 0.3);
    --background-color: #333;
    --shadow-bg: #444;
    --shadow-bg-subtle: rgba(68, 68, 68, 0.4);
    --outer-bg: #555;

    --text-color: white;
    --text-color-sub: rgba(255, 255, 255, 0.5);
    --text-color-back; rgba(177, 122, 142);
    --hover-color: #ff4c4c;
    --navbar-bg: rgba(255, 255, 255, 0.0);
    --sidebar-bg: #1e2a38;
    --sidebar-bg-stacked: rgba(30, 42, 56, 0.2);
    --code-blue: #40ffff;

    --text-color: #f0f0f0;
    --link-color: #66ccff;         /* Link color for dark theme */
    --link-hover-color: #3399cc;   /* Link hover color for dark theme */
    --list-bg-color: #2a3b4d;      /* Darker background for list items */
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: var(--text-color);
    transition: background-color 1s;

    background-image: url("../img/patrick_tomasso_unsplash_bluewall.jpg");
    background-size: 99.9% auto;
    background-position: center;
    box-shadow: inset 0 0 0 1000px var(--shadow-bg-subtle);

    font-family: var(--font-main);
}

body.dark-theme {
    background-color: var(--outer-bg);
}

@media (max-width: 600px) {
    body {
	font-size: 14px; /* Scale down */
	line-height: 1.6; /* Ensure readability */
    }
}

#shadow-block {
    width: 80%;
    background-color: var(--shadow-bg);
    padding: 3.5em 2em;
    box-shadow: 0 8px 16px var(--image-shadow-color);
    transition: background-color 0.6s;
    margin: 2em;
    border-radius: 12px;
}

body.dark-theme #shadow-block {
    background-color: var(--shadow-bg);
}

#wide-content {
    width: 90%;
    background-color: var(--background-color);
    padding: 2em;
    border-radius: 10px;
    box-shadow: 0 4px 8px var(--image-shadow-color);
    transition: all 0.3s, color 0.1s;
    margin-right: 1em;
}

body.dark-theme #wide-content {
    background-color: var(--background-color);
    color: var(--text-color);
}


#container {
    display: flex;
    justify-content: center;
}

@media (max-width: 600px) {
    #shadow-block {
	flex-direction: column; /* Stack items vertically on small screens */
	width: 99%;
	margin: 1em auto;
	padding: 1.4em 1em;
    }
    #container {
	flex-direction: column; /* Stack items vertically */
	align-items: center;
    }
    #wide-content {
	margin: 1em auto;
	padding: 1em;
    }
}

/* HEADERS */
h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-headers)
}

h1 {
    font-size: 2.5em;
    text-transform: uppercase;
    font-weight: 800;
}

h2 {
    font-size: 2em;
    text-transform: capitalize;
    font-weight: 600;
}

h3, h4 {
    font-size: 1.2em;
    font-weight: 600;
}

@media (max-width: 600px) {
    h1 {
	font-size: 1.8em; /* Scale headers */
    }

    h2 {
	font-size: 1.5em;
    }

    h3, h4 {
	font-size: 1em;
    }
}


/* --- SIDEBAR --- */
#sidebar {
    background-color: var(--sidebar-bg);
    padding: 1em;
    transition: background-color 0.3s, transform 0.1s ease;;
    height: auto;
    flex-direction: column;

    overflow-y: auto;           /* Scroll if content overflows */
    border-radius: 8px;
    box-shadow: 0 2px 5px var(--image-shadow-color);
}

#sidebar.collapsed {
    transform: scaleX(0);
    width: 1%;
}

#sidebar.expanded {
    width: 20%;
}


body.dark-theme #sidebar {
    background-color: var(--sidebar-bg);
}

.sidebar-image {
    width: 15em;
    height: 15em;
    border-radius: 8px;
}

.h-sidebar {
    justify-content: center;
    justify-content: center;
    margin: 0.2em;
    padding: 0.5em;
}


/* TODO keep editing here until sidebar looks like a bar on the top */
@media (max-width: 600px) {
    #sidebar {
	width: 100%; /* Sidebar full width on small screens */
	position: fixed;
	top: 5;
	background-color: var(--sidebar-bg-stacked);
    }

    #sidebar.expanded {
	width: 90%;
    }

    .h-sidebar {
	justify-content: left;
	justify-content: left;
    }

    body.dark-theme #sidebar {
	background-color: var(--sidebar-bg-stacked);
    }

    #sidebar.collapsed {
	transform: scaleY(0);
	width: 1%;
    }
}



/* --- ARTICLE --- */
article img {
    width: clamp(200px, 100%, 60em);
    /* width: 100%; */
    /* max-width: 100%; */
    /* clamp(min, referred, max) */
    height: clamp(400px, 30em, 30em);
    object-fit: contain;
    border: 2px solid var(--image-border-color);
    border-radius: 4px;
    box-shadow: 0 2px 5px var(--image-shadow-color);
    overflow: clip;
}

.article-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

article {
    text-align: justify;
    text-justify: inter-word;
}

/* Article Top */
.article-top {
    width: 95%;
    max-height: 35em;
    min-height: 15em;
    padding: 20px;
    margin: 20px auto;
    background-size: cover;
    background-position: center;
    position: relative;
    box-shadow: 2px 5px 10px var(--image-shadow-color);
    border-radius: 12px;
}

.article-top-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
    z-index: 0;
}

.article-title-container {
    text-align: center;
}

.article-title {
    background-color: var(--image-shadow-color);
    background-size: contain;
    background-clip: ;
    display: inline-block;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 5px;
    padding: 0.3em;

    color: var(--background-color);
    text-decoration: none;
    position: relative;
    z-index: 10;
}


/* --- POSTBOXES --- */
.post-box {
    width: 80%;
    padding: 3em;
    margin: 1em auto;
    background-size: cover;
    background-position: center;
    position: relative;
    border: 2px solid var(--image-border-color);
    border-radius: 4px;

    color: var(--background-color);
    box-shadow: 0 2px 5px var(--image-shadow-color);
    background-color: var(--image-shadow-color);
}

.post-box::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--image-shadow-color);
    z-index: 1;
}

.post-link, .post-description {
    position: relative;
    z-index: 2; /* Ensure text is above the overlay */
}

.post-link {
    display: block;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;

    /* Check this */
    color: var(--background-color);
    text-decoration: none;
}

.post-link:hover {
    text-decoration: underline;
}

.post-description {
    font-size: 16px;
}

.post-background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
    z-index: 0;
}

.post-box h4 {
    margin: 0px;
    color: var(--text-color-back);
}

@media (max-width: 600px) {
    .post-link {
	font-size: 18px; /* Adjust link size */
    }

    .post-description {
	font-size: 14px; /* Adjust description size */
    }
    .post-box {
	width: 90%;
	padding: 1em;
    }
}


/* --- BUTTONS --- */
#theme-toggle-btn {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 3em;
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-color);
    color: var(--image-border-color);
    border: 2px solid var(--image-border-color);
    border-radius: 4px;
    box-shadow: 0 2px 5px var(--image-shadow-color);
    cursor: pointer;
    font-weight: bold;
    font-size: 1.5em;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    z-index: 1100;
}

/* Change background and text color on hover */
#theme-toggle-btn:hover {
    background-color: var(--image-border-color);
    color: var(--background-color);
}

#toggle-button {
    position: fixed;
    top: 3.7em;
    right: 10px;
    width: 3em;
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-color);
    color: var(--image-border-color);
    border: 2px solid var(--image-border-color);
    border-radius: 4px;
    box-shadow: 0 2px 5px var(--image-shadow-color);
    cursor: pointer;
    font-weight: bold;
    font-size: 1.5em;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    z-index: 1300;
}

#toggle-button:hover {
    background-color: var(--image-border-color);
    color: var(--background-color);
}

@media (max-width: 600px) {
    #theme-toggle-btn, #toggle-button {
	width: 2.5em;
	height: 2.5em;
	font-size: 1.2em;
	background-color: var(--navbar-bg);
    }
    #toggle-button {
	position: fixed;
	top: 3.2em;
    }
}


/* --- NAVBAR STYLING --- */
.line,
.line::after,
.line::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--background-color);
}

.navbar input[type="checkbox"],
    .navbar .hamburger-lines {
	display: none;
}

.navbar {
    position: fixed;
    top: 20px;
    height: 50px;
    width: 100%;
    background-color: var(--navbar-bg);
    padding: 0.5em;
    box-shadow: 0 2px 5px 0px var(--navbar-bg);
    z-index: 1000;
}

.navbar-container {
    /* max-width: 1200px; */
    /* width: 90%; */
    /* margin: auto; */
    display: flex;
    justify-content: space-between;
    height: 64px;
    align-items: center;
}

.menu-items {
    order: 2;
    display: flex;
    /* flex-direction: column; */
    /* align-items: flex-start; */

    /* justify-content: flex-start; */
    /* list-style: none; */
    /* margin: 0; */
    /* padding: 0; */
}

.menu-items li {
    list-style: none;
    /* margin-top: 1rem; */
    margin-bottom: 0.5em;
    margin-left: 1.5rem;
    font-size: 1.2rem;
}

.menu-items a {
    text-decoration: none;
    font-weight: 500;
    color: var(--text-color);
    padding: 0.4em 0.8em;
    border: 2px solid var(--text-color);
    border-radius: 4px;
    transition: color 0.5s, border-color 0.8s;
}


.menu-items a:hover {
    color: var(--hover-color);
    border-color: var(--hover-color);
}

/* Responsive layout */
@media (max-width: 600px) {
    .navbar {
	opacity: 95;
    }
    .navbar-container input[type="checkbox"],
    .navbar-container .hamburger-lines {
	display: block;
    }

    .navbar-container {
	display: block;
	position: relative;
	height: 64px;
    }
    .navbar-container input[type="checkbox"] {
	position: absolute;
	display: block;
	height: 32px;
	width: 30px;
	top: 20px;
	left: 20px;
	z-index: 1500;
	opacity: 0;
    }    
    

    .navbar-container .hamburger-lines {
	display: block;
	height: 23px;
	width: 35px;
	position: absolute;
	top: 17px;
	left: 20px;
	z-index: 1200;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
    }

    .navbar-container .hamburger-lines .line {
	display: block;
	height: 4px;
	width: 100%;
	border-radius: 10px;
	background: #333;
    }

    .navbar-container .hamburger-lines .line1 {
	transform-origin: 0% 0%;
	transition: transform 0.4s ease-in-out;
    }
    .navbar-container .hamburger-lines .line2 {
	transition: transform 0.2s ease-in-out;
    }
    .navbar-container .hamburger-lines .line3 {
	transform-origin: 0% 100%;
	transition: transform 0.4s ease-in-out;
    }

    .navbar-container input[type="checkbox"]:checked ~ .menu-items {
	transform: translateX(0);
    }
    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
	transform: rotate(35deg);
    }
    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
	transform: scaleY(0);
    }
    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
	transform: rotate(-35deg);
    }
    
    .navbar .menu-items {
	padding-top: 100px;
	background: #fff;
	height: 100vh;
	max-width: 300px;
	transform: translate(-150%);
	display: flex;
	flex-direction: column;
	margin-left: 50px;
	transition: transform 0.5s ease-in-out;
	box-shadow: 5px 0px 10px 0px;
    }
    
    
    .navbar .menu-items li {
	font-size: 1.3rem;
	margin-bottom: 1.5rem;
	font-weight: 500;
    }
}


/* --- HORIZONTAL-LIST --- */
.horizontal-list {
    list-style-type: none; /* Remove bullet points */
    padding: 0;           /* Remove default padding */
    margin: 0;            /* Remove default margin */
    display: flex;        /* Display items in a row */
    gap: 10px;            /* Optional: space between items */
    justify-content: center;
}

.horizontal-list li {
    display: inline;
}

a {
    color: var(--link-color);
    transition: background-color 0.3s, color 0.3s;
}



pre.src {
    background-color: var(--outer-bg);
    border-color: var(--outer-bg);
}

.highlight{
    background-color: var(--outer-bg);
    position: relative;
    overflow: auto;
    display: block;
    font-family: monospace;
    margin: 1.2em;
    padding: 8pt;
}


/* SYNTAX HIGHLIGHT */
code {
    background-color: #e6e6e6;
    color: #447fcf;
    border-radius: 0.3em;
    padding: 1.5px 2px 1.5px;
    white-space: nowrap;
}

.highlight {
    border-radius: 0.3em;
    padding: 1em;
    white-space: pre-wrap;
    color: var(--text-color);
}

.highlight .hll { background-color: #404040 }
.highlight .c { color: #999999; font-style: italic } /* Comment */
.highlight .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.highlight .esc { color: var(--text-color) } /* Escape */
.highlight .g { color: var(--text-color) } /* Generic */
.highlight .k { color: #6ab825; font-weight: bold } /* Keyword */
.highlight .l { color: var(--text-color) } /* Literal */
.highlight .n { color: var(--text-color) } /* Name */
.highlight .o { color: var(--text-color) } /* Operator */
.highlight .x { color: var(--text-color) } /* Other */
.highlight .p { color: var(--text-color) } /* Punctuation */
.highlight .ch { color: #999999; font-style: italic } /* Comment.Hashbang */
.highlight .cm { color: #999999; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #cd2828; font-weight: bold } /* Comment.Preproc */
.highlight .cpf { color: #999999; font-style: italic } /* Comment.PreprocFile */
.highlight .c1 { color: #999999; font-style: italic } /* Comment.Single */
.highlight .cs { color: #e50808; font-weight: bold; background-color: #520000 } /* Comment.Special */
.highlight .gd { color: #d22323 } /* Generic.Deleted */
.highlight .ge { color: var(--text-color); font-style: italic } /* Generic.Emph */
.highlight .gr { color: #d22323 } /* Generic.Error */
.highlight .gh { color: #ffffff; font-weight: bold } /* Generic.Heading */
.highlight .gi { color: #589819 } /* Generic.Inserted */
.highlight .go { color: #cccccc } /* Generic.Output */
.highlight .gp { color: #aaaaaa } /* Generic.Prompt */
.highlight .gs { color: var(--text-color); font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #ffffff; text-decoration: underline } /* Generic.Subheading */
.highlight .gt { color: #d22323 } /* Generic.Traceback */
.highlight .kc { color: #6ab825; font-weight: bold } /* Keyword.Constant */
.highlight .kd { color: #6ab825; font-weight: bold } /* Keyword.Declaration */
.highlight .kn { color: #6ab825; font-weight: bold } /* Keyword.Namespace */
.highlight .kp { color: #6ab825 } /* Keyword.Pseudo */
.highlight .kr { color: #6ab825; font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #6ab825; font-weight: bold } /* Keyword.Type */
.highlight .ld { color: var(--text-color) } /* Literal.Date */
.highlight .m { color: #3677a9 } /* Literal.Number */
.highlight .s { color: #ed9d13 } /* Literal.String */
.highlight .na { color: #bbbbbb } /* Name.Attribute */
.highlight .nb { color: #24909d } /* Name.Builtin */
.highlight .nc { color: #447fcf; text-decoration: underline } /* Name.Class */
.highlight .no { color: var(--code-blue) } /* Name.Constant */
.highlight .nd { color: #ffa500 } /* Name.Decorator */
.highlight .ni { color: var(--text-color) } /* Name.Entity */
.highlight .ne { color: #bbbbbb } /* Name.Exception */
.highlight .nf { color: #447fcf } /* Name.Function */
.highlight .nl { color: var(--text-color) } /* Name.Label */
.highlight .nn { color: #447fcf; text-decoration: underline } /* Name.Namespace */
.highlight .nx { color: var(--text-color) } /* Name.Other */
.highlight .py { color: var(--text-color) } /* Name.Property */
.highlight .nt { color: #6ab825; font-weight: bold } /* Name.Tag */
.highlight .nv { color: var(--code-blue) } /* Name.Variable */
.highlight .ow { color: #6ab825; font-weight: bold } /* Operator.Word */
.highlight .w { color: #666666 } /* Text.Whitespace */
.highlight .mb { color: #3677a9 } /* Literal.Number.Bin */
.highlight .mf { color: #3677a9 } /* Literal.Number.Float */
.highlight .mh { color: #3677a9 } /* Literal.Number.Hex */
.highlight .mi { color: #3677a9 } /* Literal.Number.Integer */
.highlight .mo { color: #3677a9 } /* Literal.Number.Oct */
.highlight .sa { color: #ed9d13 } /* Literal.String.Affix */
.highlight .sb { color: #ed9d13 } /* Literal.String.Backtick */
.highlight .sc { color: #ed9d13 } /* Literal.String.Char */
.highlight .dl { color: #ed9d13 } /* Literal.String.Delimiter */
.highlight .sd { color: #ed9d13 } /* Literal.String.Doc */
.highlight .s2 { color: #ed9d13 } /* Literal.String.Double */
.highlight .se { color: #ed9d13 } /* Literal.String.Escape */
.highlight .sh { color: #ed9d13 } /* Literal.String.Heredoc */
.highlight .si { color: #ed9d13 } /* Literal.String.Interpol */
.highlight .sx { color: #ffa500 } /* Literal.String.Other */
.highlight .sr { color: #ed9d13 } /* Literal.String.Regex */
.highlight .s1 { color: #ed9d13 } /* Literal.String.Single */
.highlight .ss { color: #ed9d13 } /* Literal.String.Symbol */
.highlight .bp { color: #24909d } /* Name.Builtin.Pseudo */
.highlight .fm { color: #447fcf } /* Name.Function.Magic */
.highlight .vc { color: var(--code-blue) } /* Name.Variable.Class */
.highlight .vg { color: var(--code-blue) } /* Name.Variable.Global */
.highlight .vi { color: var(--code-blue) } /* Name.Variable.Instance */
.highlight .vm { color: var(--code-blue) } /* Name.Variable.Magic */
.highlight .il { color: #3677a9 } /* Literal.Number.Integer.Long */
