:root {
    --image-border-color: black;
    --image-shadow-color: rgba(0, 0, 0, 0.5);
    --background-color: white;
    --shadow-bg: #f0f0f0;
    --shadow-bg-subtle: rgba(240, 240, 240, 0.4);
    --outer-bg: #e0e0e0;
    
    --text-color: black;
    --text-color-sub: rgba(0, 0, 0, 0.5);
    --text-color-back: rgba(255, 206, 245, 0.99);
    --hover-color: #8b0000;
    --navbar-bg: rgba(0, 0, 0, 0.0);
    --sidebar-bg: #ebebeb;
    --sidebar-bg-stacked: rgba(235, 235, 235, 0.2);

    --text-color: #333;
    --link-color: #0066cc;         /* Link color for light theme */
    --link-hover-color: #004499;   /* Link hover color for light theme */
    --list-bg-color: #f5f5f5;      /* Light background for list items */
}

/* Dark theme variables */
body.dark-theme {
    --image-border-color: silver;
    --image-shadow-color: rgba(255, 255, 255, 0.3);
    --background-color: #333;
    --shadow-bg: #444;
    --shadow-bg-subtle: rgba(68, 68, 68, 0.4);
    --outer-bg: #555;
    
    --text-color: white;
    --text-color-sub: rgba(255, 255, 255, 0.5);
    --text-color-back; rgba(177, 122, 142);
    --hover-color: #ff4c4c;
    --navbar-bg: rgba(255, 255, 255, 0.0);
    --sidebar-bg: #1e2a38;
    --sidebar-bg-stacked: rgba(30, 42, 56, 0.2);

    --text-color: #f0f0f0;
    --link-color: #66ccff;         /* Link color for dark theme */
    --link-hover-color: #3399cc;   /* Link hover color for dark theme */
    --list-bg-color: #2a3b4d;      /* Darker background for list items */
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: var(--text-color);
    transition: background-color 1s;

    background-image: url("../img/patrick_tomasso_unsplash_bluewall.jpg");
    background-size: 99.9% auto;
    background-position: center;
    box-shadow: inset 0 0 0 1000px var(--shadow-bg-subtle);
}

body.dark-theme {
    background-color: var(--outer-bg);
}


#shadow-block {
    width: 80%;
    background-color: var(--shadow-bg);
    padding: 2em;
    box-shadow: 0 8px 16px var(--image-shadow-color);
    transition: background-color 0.6s;
    margin: 2em;
    border-radius: 12px;
}

body.dark-theme #shadow-block {
    background-color: var(--shadow-bg);
}

#wide-content {
    width: 90%;
    background-color: var(--background-color);
    padding: 2em;
    border-radius: 10px;
    box-shadow: 0 4px 8px var(--image-shadow-color);
    transition: all 0.3s, color 0.1s;
    margin-right: 1em;
}

body.dark-theme #wide-content {
    background-color: var(--background-color);
    color: var(--text-color);
}


#container {
    display: flex;
    justify-content: center;
}


/* --- SIDEBAR --- */
#sidebar {
    background-color: var(--sidebar-bg);
    padding: 1em;
    transition: background-color 0.3s, transform 0.1s ease;;
    height: auto;
    flex-direction: column;

    overflow-y: auto;           /* Scroll if content overflows */
    border-radius: 8px;
    box-shadow: 0 2px 5px var(--image-shadow-color);
}

#sidebar.collapsed {
    transform: scaleX(0);
    width: 1%;
}

#sidebar.expanded {
    width: 20%;
}


body.dark-theme #sidebar {
    background-color: var(--sidebar-bg);
}

.sidebar-image {
    width: 15em;
    height: 15em;
    border-radius: 8px;
}

.h-sidebar {
    justify-content: center;
    justify-content: center;
    margin: 0.2em;
    padding: 0.5em;
}


@media (max-width: 965px) {
    #shadow-block {
        flex-direction: column; /* Stack items vertically on small screens */
    }
    
    #sidebar {
        width: 100%; /* Sidebar full width on small screens */
	position: absolute;
	background-color: var(--sidebar-bg-stacked);
    }

    body.dark-theme #sidebar {
	background-color: var(--sidebar-bg-stacked);
    }

    #sidebar.collapsed {
	transform: scaleY(0);
	width: 1%;
    }
}



/* --- ARTICLE --- */
article img {
    width: 30em;
    height: 30em;
    object-fit: contain;
    border: 2px solid var(--image-border-color);
    border-radius: 4px;
    box-shadow: 0 2px 5px var(--image-shadow-color);
    overflow: clip;
}

.article-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}



/* --- POSTBOXES --- */
.post-box {
    width: 80%;
    padding: 20px;
    margin: 20px auto;
    background-size: cover;
    background-position: center;
    position: relative;
    border: 2px solid var(--image-border-color);
    border-radius: 4px;

    color: var(--background-color);
    box-shadow: 0 2px 5px var(--image-shadow-color);
    background-color: var(--image-shadow-color);
}

.post-box::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--image-shadow-color);
    z-index: 1;
}

.post-link, .post-description {
    position: relative;
    z-index: 2; /* Ensure text is above the overlay */
}

.post-link {
    display: block;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;

    /* Check this */
    color: var(--background-color);
    text-decoration: none;
}

.post-link:hover {
    text-decoration: underline;
}

.post-description {
    font-size: 16px;
}

.post-background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
    z-index: 0;
}

.post-box h4 {
    margin: 0px;
    color: var(--text-color-back);
}


/* --- BUTTONS --- */
#theme-toggle-btn {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 2em;
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-color);
    color: var(--image-border-color);
    border: 2px solid var(--image-border-color);
    border-radius: 4px;
    box-shadow: 0 2px 5px var(--image-shadow-color);
    cursor: pointer;
    font-weight: bold;
    font-size: 1em;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    z-index: 1100;
}

/* Change background and text color on hover */
#theme-toggle-btn:hover {
    background-color: var(--image-border-color);
    color: var(--background-color);
}

#toggle-button {
    position: fixed;
    top: 45px;
    right: 10px;
    width: 2em;
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-color);
    color: var(--image-border-color);
    border: 2px solid var(--image-border-color);
    border-radius: 4px;
    box-shadow: 0 2px 5px var(--image-shadow-color);
    cursor: pointer;
    font-weight: bold;
    font-size: 1em;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    z-index: 1300;
}

#toggle-button:hover {
    background-color: var(--image-border-color);
    color: var(--background-color);    
}


/* --- NAVBAR STYLING --- */
#wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--background-color);
}

#navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; /* Full width */
    background-color: var(--navbar-bg);
    padding: 0.5em;
    box-shadow: 0 2px 5px var(--navbar-bg);
    z-index: 1000;
}

#navbar ul {
    display: flex; 
    justify-content: flex-start;
    list-style: none;
    margin: 0;
    padding: 0;
}

#navbar li {
    margin-right: 1em;
}

#navbar a {
    text-decoration: none;
    color: var(--text-color);
    padding: 0.4em 0.8em;
    border: 2px solid var(--text-color);
    border-radius: 4px;
    transition: color 0.5s, border-color 0.8s;
}

#navbar a:hover {
    color: var(--hover-color);
    border-color: var(--hover-color);
}

/* Responsive layout */
@media (max-width: 600px) {
    #navbar ul {
        flex-direction: column;
        align-items: flex-start;
    }
    #navbar li {
        margin-bottom: 0.5em;
        margin-right: 0;
    }
}


/* --- HORIZONTAL-LIST --- */
.horizontal-list {
    list-style-type: none; /* Remove bullet points */
    padding: 0;           /* Remove default padding */
    margin: 0;            /* Remove default margin */
    display: flex;        /* Display items in a row */
    gap: 10px;            /* Optional: space between items */
    justify-content: center;
}

.horizontal-list li {
    display: inline;
}

a {
    color: var(--link-color);
    transition: background-color 0.3s, color 0.3s;
}



pre.src {
    background-color: var(--outer-bg);
    border-color: var(--outer-bg);
}

.highlight{
    background-color: var(--outer-bg);
    position: relative;
    overflow: auto;
    display: block;
    font-family: monospace;
    margin: 1.2em;
    padding: 8pt;
}
