{:server {:function "server"
          :port 3001
          :base-url "https://blog.teoten.com"
          :blog-name "Teoten's Blog"
          :default-img "/img/default.jpg"
          :directory {:templates "templates"
                      :static "static"
                      :content "content"}
          :content-opts {:content-template "partials/posts.html"
                         :extensions ["html" "org" "md"]
                         :build-drafts true
                         :category-list-template "partials/category_template.html"}
          :schema-markup {:personal-url "https://resume.teoten.com/"
                          :socials ["https://social.linux.pizza/@teoten"
                                    "https://www.youtube.com/@teoten.programando"]}}
 :builder {:function "builder"
           :inherit :server
           :export-dir "public"
           :content-opts {:build-drafts false
                          :content-template "partials/posts.html"
                          :extensions ["html" "org" "md"]
                          :category-list-template "partials/category_template.html"}
           ;; FIXME: Line above not inheriting the remaining params so, all have to be written
           }
 :test {:inherit :server
        :port 3002}}
