{% extends "base.html" %}

{% block head %}
<title>About | Teoten's blog</title>
<meta name="description" content="About Teoten.">
{% endblock %}

{% block content %}
<article>
  <h1>About</h1>
<br>

<p>
  Teoten is a statistician and data analyst with background in Ecology and Environmental Sciences. His story with programming goes back to his Master studies in 2012, when he learned basic C and statistics with R, started using Linux and tested several distros. This gave him a wide understanding of Shell, Bash and Linux in general.
</p>

<p>
During his Ph.D. he started using R professionally for data analysis projects: statistics, data scrapping, wrangling, visualizations, dashboards and programming in general. Also Shiny for personal projects.
</p>

<p>
His experience with R comes from his Ph.D. work and positions as Statistician and Software Engineer in the pharmaceutical industry. He has worked in projects for Data Analysis, Statistics, R Packages and Software Engineering. The experience with Shiny is mainly with the creation of Dashboards and Apps for NGOs.
</p>

<p>
Working with R Shiny helped him discover his passion for building web apps, which took him to the path of learning JavaScript, HTML and CSS. The wish to deploy his own apps and apps for an NGO with minimal IT infrastructure forced him to learn about Linux servers, Nginx and Docker, among others.
</p>

<p>
  As an Emacs user, he developed a love for the Lisp family of languages. It was also Common Lisp which gave him strong basis for Functional Programming. In 2024 he started learning Clojure and Clojure-script to expand his knowledge in Full Stack development and overcome some of the limitations of Shiny apps.
</p>

<p>
  This blog is build as a static site using Clojure without any framework.
</p>


</article>
{% endblock %}
