<html>
  <head>
    <link rel="stylesheet"
	  href="https://use.fontawesome.com/releases/v5.15.2/css/all.css"
	  integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu"
	  crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merriweather">
    {% blog-styles /styles/styles.css %}
    {% block head %}
    {% endblock %}
  </head>

  <body>
    <!-- Top nav bar -->
    <div>
      {% include "partials/toggle_button.html" %}
      {% include "partials/navbar.html" %}
    </div>

    <div id="shadow-block">
      <div id="container">
	<div id="wide-content">
	  <!-- Main content -->
	  {% block content %}
	  {% endblock %}
	</div>

	<button id="toggle-button"> > </button>
	{% include "partials/sidebar.html" %}
      </div>
    </div>
    
    {% blog-scripts /js/scripts.js %}
    {% blog-scripts /js/main.js %}
    {% blog-scripts /js/test.js %}

  </body>
</html>
